#let project_name_th = "ระบบบริหารจัดการการเรียนรู้ออนไลน์"
#let project_name_en = "E-Learning Management System"
#let student_name_th = ""
#let student_name_en = ""
#let student_name_th = ""
#let born_place = ""
#let current_address = ""
#let education_s_history = ""
